.additional-products {
  position: relative;
}

.additional-products__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;

  @media (min-width: 768px) {
    position: relative;
    margin-top: 68px;
    padding-left: 30px;
    padding-bottom: 25px;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    width: 1220px;
    margin-top: 80px;
    margin-bottom: 58px;
    padding-left: 0;
    padding-right: 0;
  }
}

.additional-products__title {
  display: inline-block;
  height: min-content;
  padding: 0 20px;
  margin: 0;
  margin-left: -20px;
  font-display: swap;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: 768px) {
    margin: 0;
    padding-left: 37px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    grid-column: 1 / 3;
    width: max-content;
    max-width: 1220px;
    margin-left: -40px;
    padding-left: 40px;
  }
}

.additional-products::before {
  content: "";
  position: absolute;
  top: 16px;
  z-index: -1;
  width: 100%;
  height: 2px;
  background-color: #68b738;

  @media (min-width: 768px) {
    top: 20px;
  }
}

.additional-products__list {
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    width: auto;
    margin-top: 78px;
    margin-right: 8px;
  }

  @media (min-width: 1440px) {
    margin-top: 33px;
    margin-right: 20px;
  }
}

.additional-products__list::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;

  @media (min-width: 768px) {
    display: none;
  }
}

.additional-products__item {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 33px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    width: 100%;
    margin: 0 auto;
    padding: 17px 40px 26px 38px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: 1440px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    padding-top: 16px;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .additional-products__item:not(:last-child) {
    border-bottom: none;
  }
}

@media (min-width: 1440px) {
  .additional-products__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
