.additional-products {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .additional-products {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .additional-products {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;

  padding-top: 50px;
}

@media (min-width: 768px) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__wrapper {
  margin-top: 36px;
}

@media (min-width: 768px) {
  .additional-products__wrapper {
    margin-top: 80px;
  }
}

@media (min-width: 1440px) {
  .additional-products__wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 80px;
  }
}

.additional-products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.additional-products__item {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .additional-products__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid #cdcdcd;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .additional-products__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 17px;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

@media (min-width: 1440px) {
  .additional-products__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

//серая линия
/*.products__item::after {
  content: "";
  position: absolute;
  top: 170px;
  left: -40px;
  height: 1px;
  background-color: #d9d9d9;
  width: 320px;
}*/
