.additionally {
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #68b738;
  border-width: 2px;
  padding: 0;
  padding-top: 34px;
  margin: 0;
  width: 100%;
}

.additionally__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: min-content;
}

@media (min-width: 768px) {
  .additionally__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    //margin-top: -50px;
  }
}

@media (min-width: 1440px) {
  .additionally__title {
    margin-left: calc(50% - 650px);
  }
}

.additionally__list {
  display: grid;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  list-style-type: none;
}

@media (min-width: 768px) {
  .additionally__list {
    grid-template-columns: repeat(2, 50%);
    margin-left: 70px;
  }
}

@media (min-width: 1440px) {
  .additionally__list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: auto;
    max-width: 1220px;
    margin-right: auto;
  }
}

.additionally__item {
  margin-bottom: 20px;
}

.additionally__control {
  position: relative;
  display: block;
  padding-left: 46px;
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .additionally__control {
    padding-left: 60px;
    margin-bottom: 20px;
  }
}

.additionally__control-mark {
  position: absolute;
  top: -7px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .additionally__control-mark {
    width: 40px;
    height: 40px;
  }
}

.additionally__control:hover .additionally__control-mark {
  border-color: #bababa;
}

.additionally__control-input:disabled + .additionally__control-mark {
  border-color: #bababa;
  opacity: 0.3;
}

.additionally__control-input[type="checkbox"]:checked + .additionally__control-mark::before,
.additionally__control-input[type="checkbox"]:checked + .additionally__control-mark::after {
  position: absolute;
  top: 7px;
  left: 7px;
  content: url("../img/checkbox-active.svg");
}

@media (min-width: 768px) {
  .additionally__control-input[type="checkbox"]:checked + .additionally__control-mark::before,
  .additionally__control-input[type="checkbox"]:checked + .additionally__control-mark::after {
    top: 12px;
    left: 12px;
  }
}

.additionally__control-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .additionally__control-label {
    font-size: 20px;
    line-height: 30px;
  }
}
