.bonus {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 290px;
  margin: 0 auto;
  margin-top: 54px;
  background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/bonus-background.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    min-height: 200px;
    height: min-content;
    margin-top: 69px;
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/bonus-background-tablet.jpg");
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    width: 244px;
    min-height: 289px;
    margin-top: 33px;
    margin-left: 60px;
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/bonus-background.jpg");
  }
}

.bonus::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-top: 58px;
  background: url("../img/bonus.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    margin-left: 79px;
  }

  @media (min-width: 1440px) {
    margin-top: 56px;
    padding-left: 12px;
  }
}

.bonus__text {
  margin-top: 49px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: 768px) {
    width: 161px;
    margin-top: 71px;
    margin-right: 79px;
    text-align: start;
  }

  @media (min-width: 1440px) {
    text-align: center;
    margin: 0;
    margin-top: 0;
    margin-bottom: 44px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
