.comment {
  position: relative;
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  overflow: visible;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #68b738;
  border-width: 2px;
}

.comment__title {
  position: relative;
  width: max-content;
  max-width: 1220px;
  margin-top: -43px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: 768px) {
    margin-top: -50px;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    margin-left: calc(50% - 650px);
  }
}

.comment__text {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-left: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: 1px solid #e7e7e7;
  box-sizing: border-box;
  resize: vertical;

  @media (min-width: 768px) {
    height: 174px;
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 67px;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.comment__text:hover {
  outline: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.comment__text:focus {
  outline: 2px solid #444444;
  box-sizing: border-box;
}
