.comment {
  display: grid;
  border-style: none;
  padding: 0;
  margin: 0;
}

.comment__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 23px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 75px;
    margin-left: 69px;
  }
}

@media (min-width: 1440px) {
  .comment__title {
    margin-top: 69px;
    margin-left: 0;
  }
}

.comment__text {
  border: 1px solid #e7e7e7;
  margin-top: 37px;
  margin-left: 20px;
  margin-right: 20px;
}

.comment__text:hover {
  border: 1px solid #cdcdcd;
}

.comment__text:focus {
  border: 2px solid #444444;
}

@media (min-width: 768px) {
  .comment__text {
    margin-top: 75px;
    margin-left: 70px;
    margin-right: 67px;
  }
}

@media (min-width: 1440px) {
  .comment__text {
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }
}

.comment__text::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .comment__text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
