.comment {
  display: grid;
  border-style: none;
  padding: 0;
  margin: 0;
}

.comment__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 23px;
}

@media (min-width: 768px) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 75px;
  }
}

@media (min-width: 1440px) {
  .comment__title {
    margin-top: 69px;
  }
}

.comment__text {
  border: 1px solid #e7e7e7;
  margin-top: 37px;
}

@media (min-width: 768px) {
  .comment__text {
    margin-top: 75px;
  }
}

@media (min-width: 1440px) {
  .comment__text {
    margin-top: 76px;
  }
}

.comment__text::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .comment__text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
