.contacts {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content max-content;
  position: relative;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .contacts {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 199px 400px;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  padding-top: 26px;
  padding-left: 20px;
  padding-bottom: 26px;
}

.contacts__text {
  line-height: 18px;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 26px;
}

@media (min-width: 768px) {
  .contacts__text {
    text-align: end;
  }
}

.contacts__link {
  position: relative;
  z-index: 1;
}

.contacts__image {
  display: block;
}

.contacts__maps {
  position: relative;
  z-index: 2;
  left: -100%;
  border: none;
}
