.features {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
}

.features__wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .features__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .features__wrapper {
    padding-top: 82px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 1440px) {
  .features__list {
    display: flex;
  }
}

.features__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

@media (min-width: 1440px) {
  .features__item:not(:last-child) {
    margin-right: 80px;
  }
}

.features__subject {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: block;
  position: relative;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #000000;
  line-height: 37px;
  font-weight: 400;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .features__subject {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
    line-height: 36px;
  }
}

.features__item-slim::before {
  content: "";
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 22px 0 0 22px;
  width: 50px;
  height: 50px;
  background-image: url("../img/black-cat-is-sitting.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .features__item-slim::before {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.features__item-pro::before {
  content: "";
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 22px 0 0 13px;
  width: 68px;
  height: 50px;
  background-image: url("../img/black-cat-is-coming.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .features__item-pro::before {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.features__description {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 22px 33px 19px 20px;
}

@media (min-width: 768px) {
  .features__description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 16px;
    line-height: 24px;
  }
}

.features__description::after {
  content: "";
  display: flex;
  margin-top: 23px;
  height: 1px;
  background-color: #d9d9d9;
  width: 240px;
}

.features__link {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  color: #000000;
  padding-left: 19px;
}

@media (min-width: 768px) {
  .features__link {
    font-size: 20px;
    line-height: 30px;
  }
}
