.footer {
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer__logo-link {
  margin-bottom: 20px;
  padding: 39px 0 20px 0;

  @media (min-width: 768px) {
    margin-top: 55px;
    padding: 0;
  }
}

.footer__logo-link-image {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #111111;
}

.footer__logo-link-image--tablet {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo-link-image--mobile {
    display: none;
  }

  .footer__logo-link-image--tablet {
    display: block;
  }
}

@media (min-width: 768px) {
  .footer__logo-link::after {
    display: none;
  }
}

.footer__contacts--form {
  background-color: #f2f2f2;
}

.footer__contacts--catalog {
  background-color: #f2f2f2;
}

.footer__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 110px;
    padding-left: 110px;
  }
}
