.form__inner {
  margin-top: -8px;

  @media (min-width: 768px) {
    margin-bottom: 74px;
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

.form__title {
  padding-top: 30px;
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: 768px) {
    padding-top: 25px;
    padding-left: 69px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
    padding-left: 0;
  }
}

.form__text {
  margin-bottom: 0;
  padding-top: 36px;
  padding-right: 60px;
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 768px) {
    padding-top: 53px;
    padding-right: 350px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 56px;
  }
}

.form__personal-data {
  border-style: none;

  @media (min-width: 768px) {
    //margin-top: -20px;
  }

  @media (min-width: 1440px) {
    width: 570px;
    padding-top: 70px;
  }
}

.form__personal-data::after {
  content: "";
  display: flex;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #d9d9d9;

  @media (min-width: 768px) {
    display: none;
  }
}

.form__program-selection {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 10px;
  padding: 0;

  @media (min-width: 768px) {
    margin-top: 72px;
    margin-left: 71px;
    margin-right: 67px;
  }

  @media (min-width: 1440px) {
    width: 570px;
    margin-left: 80px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.form__program-selection::after {
  content: "";
  display: flex;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: 21px;
  background-color: #d9d9d9;

  @media (min-width: 768px) {
    display: none;
  }
}

.form__personal-contacts {
  margin-top: 25px;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #68b738;
  border-width: 2px;

  @media (min-width: 768px) {
    margin-top: 65px;
  }
}

.form__comment {
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 74px;
  }
}

.form__additionally {
  margin-top: 17px;

  @media (min-width: 768px) {
    margin-top: 67px;
  }
}

.form__submit-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 22px;

  @media (min-width: 768px) {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin-top: 25px;
    margin-left: 71px;
    margin-right: 69px;
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1220px;
    margin-top: 32px;
    margin-bottom: 82px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__button {
  display: grid;
  min-width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background-color: #68b738;

  @media (min-width: 768px) {
    display: inline-block;
    min-width: 282px;
    min-height: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    min-width: 568px;
    margin-left: 0;
  }
}

.form__button:hover {
  background-color: #5eaa2f;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__submit {
  padding-top: 23px;
  padding-bottom: 31px;
  line-height: 16px;
  text-align: center;
  color: #000000;

  @media (min-width: 768px) {
    margin-left: 29px;
    padding-top: 14px;
    padding-bottom: 22px;
    font-size: 16px;
  }

  @media (min-width: 1440px) {
    margin-left: 43px;
  }
}
