.form-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  margin: 0 auto;
}

.form {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .form-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .form-wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form__inner {
  margin-bottom: 25px;
}

@media (min-width: 1440px) {
  .form__inner {
    margin-bottom: 75px;
  }
}

@media (min-width: 1440px) {
  .form__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  color: #000000;
}

@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.form__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-top: 37px;
  color: #000000;
}

@media (min-width: 768px) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__personal-data::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  height: 1px;
  background-color: #d9d9d9;
  width: auto;
}

@media (min-width: 768px) {
  .form__personal-data::after {
    display: none;
  }
}

.form__program-selection::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  height: 1px;
  background-color: #d9d9d9;
  width: auto;
}

@media (min-width: 768px) {
  .form__program-selection::after {
    display: none;
  }
}

@media (min-width: 768px) {
  .form__submit-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

.form__submit-wrapper {
  width: 100%;
  margin: 0 auto;
}

.form__button {
  display: grid;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  min-width: 280px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form__button {
    display: inline-block;
    min-width: 282px;
    min-height: 52px;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media (min-width: 1440px) {
  .form__button {
    min-width: 568px;
  }
}

.form__submit {
  line-height: 16px;
  text-align: center;
  padding-top: 21px;
  color: #000000;
}
