.header {
  max-width: 1440px;
  //min-height: 65px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header__wrapper {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr min-content;
  padding-top: 12px;

  @media (min-width: 768px) {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    margin-top: -35px;
    padding-left: 11px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    margin-top: 18px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
