.hero {
  max-width: 1440px;
  height: 302px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  background: #4d4d4d;
  background-image: linear-gradient(to right, rgba(77, 170, 22, 0.85) 25%, rgba(105, 183, 56, 0.85)), url("../img/hero-background.png");
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    background: #ffffff;
  }
}

@media (min-width: 1440px) {
  .hero {
    background: #ffffff;
  }
}

.hero__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .hero__wrapper {
    display: grid;
    margin-left: 87px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .hero__wrapper {
    margin-left: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 1440px) {
  .hero__wrapper::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 694px;
    top: 0;
    left: 50%;
    background: #4d4d4d;
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/hero-background-maxsize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/hero-background-maxsize@2x.jpg");
    }
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero__title {
    display: flex;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

@media (min-width: 1440px) {
  .hero__title {
    text-align: left;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero__subtitle {
    display: flex;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 41px;
  }
}

@media (min-width: 1440px) {
  .hero__subtitle {
    text-align: left;
  }
}

.hero__product {
  display: block;
  margin: 0 auto;
  padding-top: 29px;
}

@media (min-width: 768px) {
  .hero__product {
    order: 4;
    justify-items: end;
    z-index: 1;
    position: relative;
    top: -110px;
    left: -55px;
  }
}

@media (min-width: 1440px) {
  .hero__product {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    z-index: 2;
    top: 80px;
    right: -280px;
    position: absolute;
  }
}

.hero__link {
  width: 192px;
  padding: 11px 73px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.hero__link:hover {
  background-color: #5eaa2f;
}

.hero__link:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .hero__link {
    grid-row: 3 / 4;
    width: 192px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    margin-top: 49px;
    z-index: 2;
  }
}

@media (min-width: 1440px) {
  .hero__link {
    margin-top: 52px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}
