.hero {
  margin: 0 auto;
  background: rgba(104, 183, 56, 0.85) url("../../img/hero-background.png") top center no-repeat;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    background: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .hero {
    background: #ffffff;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 768px) {
  .hero__wrapper {
    display: grid;
    margin-left: 87px;
  }
}

@media (min-width: 1440px) {
  .hero__wrapper {
    display: grid;
    grid-template-columns: 414px 552px;
    grid-template-rows: repeat(2, min-content);
    margin-left: 80px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero__title {
    display: flex;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

@media (min-width: 1440px) {
  .hero__title {
    text-align: left;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero__subtitle {
    display: flex;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 41px;
  }
}

@media (min-width: 1440px) {
  .hero__subtitle {
    text-align: left;
    height: max-content;
  }
}

.hero__product {
  display: block;
  margin: 0 auto;
  padding-top: 29px;
}

@media (min-width: 768px) {
  .hero__product {
    order: 4;
    justify-items: end;
  }
}

@media (min-width: 1440px) {
  .hero__product {
    order: 4;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
}

.hero__link {
  width: 192px;
  padding: 11px 74px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

@media (min-width: 768px) {
  .hero__link {
    width: 192px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    margin-top: 49px;
  }
}

@media (min-width: 1440px) {
  .hero__link {
    height: max-content;
    margin-top: 52px;
  }
}
