.hero {
  z-index: 1;
  max-width: 1440px;
  height: min-content;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(77, 170, 22, 0.85) 25%, rgba(105, 183, 56, 0.85)), url("../img/hero-background.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto 302px;

  @media (min-width: 768px) {
    background: #ffffff;
  }

  @media (min-width: 1440px) {
    background: #ffffff;
  }
}

.hero::before {
  position: absolute;
  left: 0;
  content: "";
  padding: 0;
  width: 100%;
  height: 302px;
  background: #4d4d4d;
  z-index: -1;

  @media (min-width: 768px) {
    display: none;
  }
}

.hero__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    position: relative;
    margin-left: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 1440px) {
  .hero::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    z-index: 1;
    width: 50%;
    height: 694px;
    background: #4d4d4d;
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/hero-background-maxsize.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    overflow: hidden;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/hero-background-maxsize@2x.jpg");
    }
  }
}

.hero__title {
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 24px;
    padding-left: 87px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  @media (min-width: 1440px) {
    width: 420px;
    padding-top: 78px;
    padding-left: 0;
    text-align: left;
  }
}

.hero__subtitle {
  margin-top: 25px;
  margin-left: -2px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 40px;
    padding-left: 92px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: 1440px) {
    width: 420px;
    padding-top: 0;
    padding-left: 2px;
    text-align: left;
  }
}

.hero__product {
  display: block;
  margin: 0 auto;
  padding-top: 29px;

  @media (min-width: 768px) {
    position: relative;
    top: -113px;
    left: 0;
    z-index: 1;
    order: 4;
    justify-items: end;
    width: 709px;
    height: auto;
  }

  @media (min-width: 1440px) {
    position: absolute;
    top: -54px;
    right: -149px;
    z-index: 2;
    width: 552px;
    height: auto;
    padding-top: 50px;
  }
}

.hero__link {
  display: block;
  margin-top: 3px;
  padding: 11px 73px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;

  @media (min-width: 768px) {
    z-index: 2;
    grid-row: 3 / 4;
    width: 192px;
    margin-top: 49px;
    margin-left: 91px;
    padding: 18px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin-top: 51px;
    margin-left: 0;
  }
}

.hero__link:hover {
  background-color: #5eaa2f;
}

.hero__link:active {
  color: rgba(255, 255, 255, 0.3);
}
