@media (min-width: 1440px) {
  .logo:hover {
    opacity: 0.6;
  }

  .logo:active {
    opacity: 0.3;
  }
}

.logo--icon {
  padding-left: 20px;
  padding-bottom: 18px;
}

.logo--text {
  margin: 0 auto;
  padding-bottom: 16px;

  @media (min-width: 768px) {
    padding-left: 12px;
  }
}

@media (min-width: 768px) {
  .logo__image--text {
    display: none;
  }
}
