.more-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 39px;
  }

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.more-products::before {
  content: "";
  display: flex;
  position: absolute;
  top: -20px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
  width: calc(100% + 40px);

  @media (min-width: 768px) {
    display: none;
  }
}

.more-products::after {
  content: "";
  display: flex;
  position: absolute;
  top: 200px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
  width: calc(100% + 40px);

  @media (min-width: 768px) {
    display: none;
  }
}

.more-products__title {
  position: relative;
  text-align: center;
  margin-top: 78px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: 768px) {
    margin-top: 80px;
    width: 135px;
  }
}

.more-products__title::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 85px;
  width: 30px;
  height: 30px;
  background-image: url("../img/more-products-plus.svg");

  @media (min-width: 768px) {
    top: -60px;
    left: 55px;
    width: 30px;
    height: 30px;
  }
}

.more-products__subtitle {
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;

  @media (min-width: 768px) {
    width: 165px;
    text-align: center;
  }
}

.more-products__link {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 21px;
  width: 258px;
  padding: 10px 10px;

  @media (min-width: 768px) {
    width: 229px;
    margin-top: 20px;
  }

  @media (min-width: 1440px) {
    width: 149px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
