.nav-toggle {
  position: absolute;
  top: -1px;
  right: 0;
  width: 65px;
  height: 65px;
  background: url("../img/logo-mobile-burger.svg") center no-repeat;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav-toggle--closed {
  width: 65px;
  height: 65px;
  background: url("../img/logo-mobile-close.svg") center no-repeat;
  border: none;
  cursor: pointer;
}
