.nav-toggle {
  width: 65px;
  height: 65px;
  background: url("../img/logo-mobile-burger.svg") center no-repeat;
  border: none;
  cursor: pointer;
}

.nav-toggle--opened {
  width: 65px;
  height: 65px;
  background: url("../img/logo-mobile-close.svg") center no-repeat;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
