.nav {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  background-color: #ffffff;
}

.nav__wrapper {
  position: relative;
}

@media (max-width: 767px) {
  .nav__list {
    position: absolute;
    z-index: 1;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    list-style-type: none;
  }

  .nav--closed .nav__list {
    display: none;
  }

  .nav--nojs .nav-toggle {
    display: none;
  }

  .nav--nojs .nav__list {
    position: relative;
    display: block;
  }
}

.nav__list {
  @media (min-width: 768px) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
}

.nav__list-item {
  display: block;
  padding: 22px 0 20px 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: 768px) {
    padding: 27px 0 24px 36px;
    border-top: none;
  }

  @media (min-width: 1440px) {
    z-index: 2;
    padding-top: 25px;
  }
}

.nav__list-link {
  text-transform: uppercase;
  text-decoration: none;
  font-display: swap;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;

  @media (min-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.nav__list-link:not(.nav__list-link--current):hover {
  opacity: 0.6;
}

.nav__list-link:not(.nav__list-link--current):active {
  opacity: 0.3;
}

.nav__list-link--another-color {
  color: #000000;
}

@media (min-width: 768px) {
  .nav__list-link--current::after {
    content: "";
    display: flex;
    width: inherit;
    height: 2px;
    margin: 0;
    margin-top: 10px;
    background-color: #68b738;
  }
}

@media (min-width: 1440px) {
  .nav__list-link--current:not(.nav__list-link--another-strip)::after {
    margin-top: 6px;
    background-color: #ffffff;
  }
}

.nav__list-item:last-child {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: 768px) {
    border-bottom: none;
  }
}
