.page {
  width: 320px;
  margin: 0 auto;
  background-color: #e5e5e5;
}

.page__body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 auto;
  min-height: 100%;
}
