.personal-data {
  border-style: none;
  padding: 0;
  padding-top: 39px;
  margin: 0;
  display: grid;
}

@media (min-width: 768px) {
  .personal-data {
    padding-top: 66px;
    display: grid;
  }
}

@media (min-width: 1440px) {
  .personal-data {
    width: 570px;
  }
}

.personal-data__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .personal-data__wrapper {
    padding-left: 71px;
    padding-right: 67px;
  }
}

@media (min-width: 1440px) {
  .personal-data__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

.personal-data__group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 8px;
}

@media (min-width: 1440px) {
  .personal-data__group:not(:first-child) {
    margin-top: 0;
  }
}

.personal-data__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  //padding-bottom: 22px;
  margin-right: 13px;
}

.personal-data__description {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  height: 45px;
}

.personal-data__description:hover {
  border: 1px solid #cdcdcd;
}

.personal-data__description:focus {
  border: 2px solid #444444;
}

.personal-data__description:invalid {
  //border: 2px solid #ff8282;
}

.personal-data__description::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  padding-left: 20px;
  line-height: 18px;
  text-transform: uppercase;
}

.personal-data__email-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 1440px) {
  .personal-data__email-wrapper {
    width: 570px;
  }
}

.personal-data__phone-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 1440px) {
  .personal-data__phone-wrapper {
    margin-left: 78px;
    width: 570px;
  }
}



/*
.form__personal-contacts {
  position: relative;
  width: 100%;
}

.form__personal-contacts::before {
  content: "";
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: -1;
  height: 2px;
  background-color: #68b738;
}
*/

.personal-data__contacts-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  padding-left: 20px;
  display: inline-block;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .personal-data__contacts-title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 75px;
    padding-left: 69px;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .personal-data__contacts-title {
    padding-left: 0;
    width: max-content;
    max-width: 1220px;
  }
}

@media (min-width: 1440px) {
  .personal-data__contacts--wrapper {
    flex-direction: row;
  }
}

.personal-data__contacts-name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 27px;
  margin-right: 13px;
}

.personal-data__contacts-wrapper {
  outline: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.personal-data__contacts-wrapper:hover {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.personal-data__contacts-wrapper:focus {
  border: 2px solid #444444;
}

.personal-data__contacts-description {
  flex-grow: 1;
  height: 38px;
  border: none;
  position: relative;
  padding-top: 6px;
}

.personal-data__contacts-description:invalid {
  //border: 2px solid #ff8282;
}

.personal-data__contacts-description::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 19px;
}

.personal-data__contacts-email-img {
  padding-right: 15px;
  opacity: 0.6;
}

.personal-data__contacts-phone-img {
  padding-right: 15px;
  opacity: 0.6;
}
