.personal-data {
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 36px;

  @media (min-width: 768px) {
    display: grid;
    padding-top: 52px;
  }

  @media (min-width: 1440px) {
    padding-top: 74px;
  }
}

.personal-data__wrapper {
  margin-top: -1px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

.personal-data__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  @media (min-width: 768px) {
    margin-top: 20px;
  }

  @media (min-width: 1440px) {
    align-items: baseline;
    margin-top: 24px;
  }
}

@media (min-width: 1440px) {
  .personal-data__group:not(:first-child) {
    margin-top: 0;
  }
}

.personal-data__name {
  margin-right: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.personal-data__description {
  flex-grow: 1;
  height: 42px;
  padding: 3px 0 0;
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  @media (min-width: 768px) {
    height: 53px;
    padding-top: 13px;
    font-size: 20px;
    line-height: 30px;
  }
}

.personal-data__contacts-email-img,
.personal-data__contacts-phone-img {
  stroke: #000000;
}

.personal-data__description:hover {
  border: 1px solid #cdcdcd;
}

.personal-data__description:focus {
  border: 2px solid #444444;
}

.personal-data__contacts-description:focus + svg {
  stroke: #68b738;
}

.personal-data__email-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin-bottom: 8px;
  }

  @media (min-width: 1440px) {
    width: 570px;
  }
}

.personal-data__phone-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;

  @media (min-width: 1440px) {
    width: 570px;
    margin-left: 76px;
  }
}

.personal-data__contacts-title {
  max-width: 1220px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: 768px) {
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    margin-left: calc(50% - 650px);
  }
}

@media (min-width: 768px) {
  .personal-data__contacts-title-brake {
    display: none;
  }
}

.personal-data__contacts-inner {
  @media (min-width: 768px) {
    margin-top: 25px;
  }

  @media (min-width: 1440px) {
    flex-direction: row;
    width: 1220px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.personal-data__contacts-name {
  margin-right: 13px;
  padding-bottom: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-left: -2px;
    margin-right: 23px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1440px) {
    margin-left: 0;
  }
}

.personal-data__contacts-wrapper {
  display: flex;
  outline: 1px solid #cdcdcd;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: 1440px) {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.personal-data__contacts-wrapper:hover {
  box-sizing: border-box;
  outline: 1px solid #cdcdcd;
}

.personal-data__contacts-wrapper:focus + .personal-data__contacts-email-img {
  box-sizing: border-box;
  outline: 2px solid #444444;
  color: #68b738;
}

.personal-data__contacts-description {
  position: relative;
  flex-grow: 1;
  height: 44px;
  padding-top: 8px;
  padding-left: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;

  @media (min-width: 768px) {
    height: 50px;
    padding-left: 17px;
    font-size: 20px;
    line-height: 30px;
  }
}

.personal-data__contacts-email-img {
  padding-right: 19px;
  opacity: 0.6;
}

.personal-data__contacts-phone-img {
  padding-right: 15px;
  opacity: 0.6;
}
