.products-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  margin: 0 auto;
  padding-bottom: 23px;

  @media (min-width: 768px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 248px;
    min-height: 352px;
    margin-top: 141px;
    padding: 39px 37px;
    background-color: #f2f2f2;
  }

  @media (min-width: 1440px) {
    //width: 245px;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }
}

.products-card:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -20px;
  display: flex;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #d9d9d9;
}

@media (min-width: 768px) {
  .products-card:not(:first-child)::before {
    display: none;
  }
}

.products-card:last-child {
  margin-bottom: 0;
}

.products-card__image {
  @media (min-width: 768px) {
    position: relative;
    top: -15%;
    width: 100%;
    height: auto;
  }

  @media (min-width: 1440px) {
    position: relative;
  }
}

.products-card__title {
  padding-top: 23px;
  padding-right: 64px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: 768px) {
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

.products-card__link--picture {
  grid-row: 1 / 3;
  width: auto;
  height: auto;
  margin: auto auto;
  //margin-top: 35px;
  padding-top: 24px;

  @media (min-width: 768px) {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-bottom: 260px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 265px;
  }
}

.products-card__link--title {
  grid-row: 1 / 2;

  @media (min-width: 1440px) {
    padding-top: 124px;
  }
}

.products-card__link--button {
  position: relative;
  display: flex;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  margin-top: 7px;
  padding: 10px 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 248px;
    padding: 10px 10px;
  }

  @media (min-width: 1440px) {
    width: 168px;
    padding: 10px 10px;
  }
}
