.products {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;

  @media (min-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: 1440px) {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.products__title {
  padding-top: 28px;
  font-display: swap;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: 768px) {
    margin-bottom: 22px;
    padding-top: 24px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1440px) {
    padding-top: 38px;
  }
}

.products__title::after {
  position: absolute;
  content: "";
  top: 105px;
  left: -20px;
  display: flex;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #d9d9d9;

  @media (min-width: 768px) {
    display: none;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  padding-top: 40px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    padding-top: 0;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 76px;

    margin-top: 24px;
  }
}

.products__item {
  @media (min-width: 768px) {
    width: 245px;
    margin-top: 141px;
    border: 2px solid #f2f2f2;
  }
}
