.products {
  background-color: #ffffff;
}

.products__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  padding-left: 20px;
  color: #000000;
  position: relative;
}

.products__title::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  height: 1px;
  background-color: #d9d9d9;
  width: 320px;
}

.products__list {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}
