.products-card {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr) 1fr;
  padding-bottom: 44px;
}

.products-card:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .products-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    position: relative;
  }
}

.products-card::after {
  content: "";
  display: flex;
  position: absolute;
  top: 220px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
  width: calc(100% + 40px);
}

@media (min-width: 768px) {
  .products-card::after {
    display: none;
  }
}

/*смещение картинки вверх*/
@media (min-width: 768px) {
  .products-card__image {
    position: relative;
  }
}

/*смещение картинки вверх*/
@media (min-width: 1440px) {
  .products-card__image {
    position: relative;
  }
}

.products-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.products-card__link--picture {
  grid-row: 1 / 3;
  width: 84px;
  margin: auto;
}

.products-card__link--title {
  grid-row: 1 / 2;
}

.products-card__link--button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 280px;
  padding: 10px 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .products-card__link--button {
    width: 248px;
    padding: 10px 10px;
  }
}

@media (min-width: 1440px) {
  .products-card__link--button {
    width: 148px;
    padding: 10px 10px;
  }
}
