.product {
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

.product__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    padding-left: 110px;
    padding-right: 110px;
    min-height: 640px;
  }
}

.product__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 42px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1440px) {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.product__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 49px;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 179px;
    grid-row-gap: 80px;
    counter-reset: index;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    align-items: start;
    padding-bottom: 0;
  }
}

.product__item {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;

  @media (min-width: 768px) {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  @media (min-width: 1440px) {
    margin-top: 72px;
  }
}

@media (min-width: 768px) {
  .product__item::after {
    position: absolute;
    width: 136px;
    font-family: "Oswald", sans-serif;
    font-size: 260px;
    font-weight: 400;
    color: #f2f2f2;
    top: 92px;
    left: 118px;
    counter-increment: index;
    content: counters(index, ".", decimal) " ";
  }
}

.product__item:not(:last-child) {
  margin-bottom: 26px;
}

.product__item--nutrients::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/nutrients.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

.product__item--powder::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/powder.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

.product__item--functional-nutrition::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/functional-nutrition.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

.product__item--changes-better::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/changes-better.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .product__description {
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
  }
}
