.product {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
}

.product__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    min-height: 608px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.product__title {
  margin-bottom: 42px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: 768px) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1440px) {
    margin-top: 29px;
    margin-bottom: 0;
  }
}

.product__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 49px;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 115px;
    counter-reset: index;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 81px;
    align-items: start;
    padding-bottom: 0;
  }
}

.product__item {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;

  @media (min-width: 768px) {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
  }

  @media (min-width: 1440px) {
    grid-template-rows: repeat(2, min-content);
    margin-top: 72px;
  }
}

@media (min-width: 768px) {
  .product__item::after {
    content: counters(index, ".", decimal) " ";
    position: absolute;
    top: 90px;
    left: 116px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    font-weight: 400;
    color: #f2f2f2;
    counter-increment: index;
  }
}

.product__item:not(:last-child) {
  margin-bottom: 20px;
}

.product__item--nutrients::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/nutrients.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

.product__item--powder::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/powder.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

.product__item--functional-nutrition::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/functional-nutrition.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

.product__item--changes-better::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/changes-better.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}

.product__description {
  @media (min-width: 768px) {
    z-index: 1;
    padding-top: 10px;
    padding-right: 80px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: 1440px) {
    padding-right: 0;
  }
}
/*
.product__description--changes-better {
  @media (min-width: 768px) {
    margin-top: -26px;
    padding-right: 82px;
  }
}
  @media (min-width: 1440px) {

    padding-right: 10px;
  }
}
*/
