.program-selection {
  padding: 0;
  //padding-bottom: 25px;
  border-style: none;

  @media (min-width: 768px) {
    border: 1px solid #e7e7e7;
  }
}

.program-selection__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.program-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    padding-top: 30px;
  }
}

.program-selection__item {
  margin-top: 21px;

  @media (min-width: 768px) {
    margin-top: 0;
    padding-bottom: 23px;
  }

  @media (min-width: 768px) {
    padding-bottom: 25px;
  }
}

.program-selection__control {
  position: relative;
  display: block;
  padding-left: 45px;

  @media (min-width: 768px) {
    padding-left: 68px;
  }
}

.program-selection__mark-radio {
  position: absolute;
  top: -7px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    left: 8px;
    width: 39px;
    height: 39px;
  }
}

.program-selection__control:hover .program-selection__mark-radio {
  border-color: #bababa;
}

.program-selection__input[type="radio"]:focus + span {
  border-color: #444444;
  outline: 1px solid #444444;
}

.program-selection__control:disabled + .program-selection__mark-radio {
  opacity: 0.3;
}

.program-selection__input[type="radio"] + .program-selection__mark-radio {
  border-radius: 50%;
}

.program-selection__input[type="radio"]:checked + .program-selection__mark-radio::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}

.program-selection__control-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}
