.specifications {
  grid-row: 2 / 3;
}

.specifications__name,
.specifications__description {
  display: inline;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.specifications__description {
  text-align: end;
}

@media (min-width: 768px) {
  .specifications__name,
  .specifications__description {
    font-size: 16px;
  }
}

.specifications__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .specifications__title {
    width: 300px;
  }
}

.specifications__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 140px;
  margin: 0;
}

@media (min-width: 768px) {
  .specifications__list {
    width: 248px;
  }
}

@media (min-width: 1440px) {
  .specifications__list {
    width: 148px;
  }
}

.specifications__list--additional-products {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

@media (min-width: 768px) {
  .specifications__list--additional-products {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .specifications__list--additional-products {
    width: 285px;
  }
}

.specifications__link {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  margin: 0 auto;
  width: 280px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .specifications__link {
    width: 100%;
    grid-column: 1 / 3;
  }
}

@media (min-width: 1440px) {
  .specifications__link {
    width: 244px;
    margin: 0;
  }
}
