@charset "UTF-8";
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-regular.woff2") format("woff2"), url("../fonts/lato/lato-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswald-regular.woff2") format("woff2"), url("../fonts/oswald/oswald-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswald-medium.woff2") format("woff2"), url("../fonts/oswald/oswald-regular.woff") format("woff");
  font-display: swap;
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
  }
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@tablet-width : 768px;
@desktop-width : 1200px;
@mobile-width-only : 767px;
.page {
  margin: 0 auto;
}

.page__body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 auto;
  min-height: 100%;
}

.additional-products {
  position: relative;
}

.additional-products__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .additional-products__wrapper {
    position: relative;
    margin-top: 80px;
  }
}
@media (min-width: 1440px) {
  .additional-products__wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    margin-top: 80px;
    margin-bottom: 86px;
    padding-left: 0;
    padding-right: 0;
    width: 1220px;
  }
}
.additional-products__title {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  padding: 0 20px;
  margin: 0;
  margin-left: -20px;
  height: min-content;
}

@media (min-width: 768px) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    padding-right: 36px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .additional-products__title {
    grid-column: 1/3;
    padding-left: 40px;
    margin-left: -40px;
    width: max-content;
    max-width: 1220px;
  }
}
.additional-products::before {
  content: "";
  position: absolute;
  top: 16px;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}

@media (min-width: 768px) {
  .additional-products::before {
    top: 20px;
  }
}
/*
@media (min-width: 768px) {
  .additional-products__title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}

@media (min-width: 1440px) {
  .additional-products__title::before {
    right: calc(100% + 40px);
  }
}
*/
/*
.additional-products__title::after {
  content: "";
  position: absolute;
  top: 16px;
  left: calc(100% + 21px);
  width: calc(53px + 100%);
  height: 2px;
  background-color: #68b738;
  //z-index: -1;
}
*/
/*
@media (min-width: 768px) {
  .additional-products__title::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 300%;
    height: 2px;
    background-color: #68b738;
    //z-index: 23;
  }
}
*/
.additional-products__list {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .additional-products__list {
    margin-top: 80px;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .additional-products__list {
    margin-top: 0;
  }
}
.additional-products__list::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: 1px;
  background-color: #cdcdcd;
  width: 100%;
}

@media (min-width: 768px) {
  .additional-products__list::before {
    display: none;
  }
}
.additional-products__item {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 31px;
}

@media (min-width: 768px) {
  .additional-products__item {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid #cdcdcd;
    width: 100%;
    padding: 28px 38px;
    margin: 0 auto;
  }

  .additional-products__item:not(:last-child) {
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .additional-products__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .additional-products__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
.additionally {
  border-style: none;
  padding: 0;
  padding-top: 34px;
  margin: 0;
}

.additionally__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-top: 22px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .additionally__title {
    padding-top: 65px;
    font-size: 36px;
    line-height: 36px;
    margin-left: 70px;
  }
}
@media (min-width: 1440px) {
  .additionally__title {
    margin-left: 0;
  }
}
.additionally__list {
  display: grid;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  list-style-type: none;
}

@media (min-width: 768px) {
  .additionally__list {
    grid-template-columns: repeat(2, 50%);
    margin-left: 70px;
  }
}
@media (min-width: 1440px) {
  .additionally__list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: 0;
  }
}
.additionally__item {
  margin-bottom: 20px;
}

.additionally__control {
  position: relative;
  display: block;
  padding-left: 46px;
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .additionally__control {
    padding-left: 60px;
    margin-bottom: 20px;
  }
}
.additionally__control-mark {
  position: absolute;
  top: -7px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .additionally__control-mark {
    width: 40px;
    height: 40px;
  }
}
.additionally__control:hover .additionally__control-mark {
  border-color: #bababa;
}

.additionally__control-input:disabled + .additionally__control-mark {
  border-color: #bababa;
  opacity: 0.3;
}

.additionally__control-input[type=checkbox]:checked + .additionally__control-mark::before,
.additionally__control-input[type=checkbox]:checked + .additionally__control-mark::after {
  position: absolute;
  top: 7px;
  left: 7px;
  content: url("../img/checkbox-active.svg");
}

@media (min-width: 768px) {
  .additionally__control-input[type=checkbox]:checked + .additionally__control-mark::before,
.additionally__control-input[type=checkbox]:checked + .additionally__control-mark::after {
    top: 12px;
    left: 12px;
  }
}
.additionally__control-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .additionally__control-label {
    font-size: 20px;
    line-height: 30px;
  }
}
.bonus {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 290px;
  background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/bonus-background.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 35px;
}

@media (min-width: 768px) {
  .bonus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin-top: 69px;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .bonus {
    flex-direction: column;
    height: 289px;
    width: 244px;
    margin-top: 0;
  }
}
.bonus::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background: url("../img/bonus.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 58px;
}

@media (min-width: 768px) {
  .bonus::before {
    margin-left: 88px;
  }
}
@media (min-width: 1440px) {
  .bonus::before {
    margin-top: 62px;
  }
}
.bonus__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 58px;
}

@media (min-width: 768px) {
  .bonus__text {
    text-align: start;
    width: 161px;
    margin-top: 71px;
    margin-right: 124px;
  }
}
@media (min-width: 1440px) {
  .bonus__text {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 38px;
  }
}
.comment {
  display: grid;
  border-style: none;
  padding: 0;
  margin: 0;
}

.comment__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 23px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 75px;
    margin-left: 69px;
  }
}
@media (min-width: 1440px) {
  .comment__title {
    margin-top: 69px;
    margin-left: 0;
  }
}
.comment__text {
  border: 1px solid #e7e7e7;
  margin-top: 37px;
  margin-left: 20px;
  margin-right: 20px;
}

.comment__text:hover {
  border: 1px solid #cdcdcd;
}

.comment__text:focus {
  border: 2px solid #444444;
}

@media (min-width: 768px) {
  .comment__text {
    margin-top: 75px;
    margin-left: 70px;
    margin-right: 67px;
  }
}
@media (min-width: 1440px) {
  .comment__text {
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }
}
.comment__text::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .comment__text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.contacts {
  position: relative;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    right: calc(50% + 45px);
    z-index: 3;
    width: 505px;
    height: 198px;
  }
}
.contacts__wrapper--another-color {
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .contacts__wrapper--another-color {
    margin-top: 50px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper--another-color {
    background-color: #ffffff;
    margin-top: 0;
  }
}
.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 22px;
}

@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }
}
.contacts__text {
  line-height: 18px;
  padding-top: 26px;
  padding-bottom: 26px;
}

@media (min-width: 768px) {
  .contacts__text {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440) {
  .contacts__text {
    text-align: left;
  }
}
.contacts-br1,
.contacts-br2,
.contacts-br3,
.contacts-br4,
.contacts-br5 {
  display: none;
}

@media (min-width: 768px) {
  .contacts-br3,
.contacts-br4 {
    display: block;
  }
}
@media (min-width: 1440px) {
  .contacts-br1,
.contacts-br2,
.contacts-br3,
.contacts-br5 {
    display: block;
  }
}
@media (min-width: 1440px) {
  .contacts-br4 {
    display: none;
  }
}
.contacts__map-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
}

.contacts__link {
  position: relative;
  z-index: 1;
}

.contacts__image {
  display: block;
  height: 362px;
}

@media (min-width: 768px) {
  .contacts__image {
    height: 400px;
  }
}
.contacts__maps {
  position: absolute;
  top: 0;
  z-index: 2;
  border: none;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .copyright__link {
    padding-left: 0;
    padding-right: 0;
  }
}
.copyright__text {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: 768px) {
  .copyright__text {
    margin-right: 23px;
  }
}
.copyright__logo {
  color: #666666;
}

.copyright__link:hover .copyright__logo {
  color: #68b738;
}

.copyright__link:active {
  opacity: 0.3;
  color: #68b738;
}

.example {
  position: relative;
  margin: 0 auto;
  background-color: #eaeaea;
}

@media (min-width: 768px) {
  .example::before {
    position: absolute;
    display: block;
    top: -10px;
    content: "";
    height: 1px;
    background-color: #e6e6e6;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .example::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .example {
    background: #f2f2f2;
  }
}
.example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 1220px;
    margin: 0 auto;
    background: #f2f2f2;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-top: 25px;
}

@media (min-width: 768px) {
  .example__title {
    grid-column: 1/3;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    position: relative;
    top: -176px;
    grid-column: 1/2;
  }
}
.example__text {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .example__text {
    grid-column: 1/3;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    grid-column: 1/2;
  }
}
.example__list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .example__list {
    grid-column: 1/2;
    margin-top: 54px;
  }
}
@media (min-width: 1440px) {
  .example__list {
    grid-column: 1/2;
    margin-top: 69px;
  }
}
.example__item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  width: 124px;
  height: 56px;
}

@media (min-width: 768px) {
  .example__item {
    width: 162px;
    height: 72px;
  }
}
.example__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 14px;
}

.example__description {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  position: relative;
  top: 12px;
  z-index: 2;
  text-transform: lowercase;
  width: 80px;
  background-color: #eaeaea;
}

@media (min-width: 768px) {
  .example__description {
    background-color: #ffffff;
    width: 124px;
    top: 28px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    background-color: #f2f2f2;
  }
}
.example__result-wrapper {
  padding-top: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  justify-content: center;
}

@media (min-width: 768) {
  .example__result-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1440px) {
  .example__result-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
.example__result-img {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .example__result-img {
    grid-column: 1/3;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .example__result-img {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
.features {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
}

.features__wrapper {
  margin-top: 198px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .features__wrapper {
    margin-top: 526px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .features__wrapper {
    margin-top: 370px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 1440px) {
  .features__list {
    display: flex;
  }
}
.features__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .features__item {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1440px) {
  .features__item {
    width: 570px;
  }
}
@media (min-width: 1440px) {
  .features__item:nth-child(odd) {
    margin-right: 80px;
  }
}
.features__subject {
  grid-column: 2/3;
  grid-row: 1/2;
  display: block;
  position: relative;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #000000;
  line-height: 37px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: -30px;
}

@media (min-width: 768px) {
  .features__subject {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    margin-top: 77px;
    margin-left: 53px;
  }
}
@media (min-width: 1440px) {
  .features__subject {
    grid-column: 2/3;
    margin-left: -50px;
  }
}
.features__item-slim::before {
  content: "";
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 22px 0 0 22px;
  width: 50px;
  height: 50px;
  background-image: url("../img/black-cat-is-sitting.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .features__item-slim::before {
    grid-column: 2/3;
    grid-row: 1/4;
    padding-top: 81px;
    padding-left: 52px;
  }
}
@media (min-width: 1440px) {
  .features__item-slim::before {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 41px;
    padding-left: 52px;
    width: 100px;
    height: 106px;
  }
}
.features__item-pro::before {
  content: "";
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 22px 0 0 13px;
  width: 68px;
  height: 50px;
  background-image: url("../img/black-cat-is-coming.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .features__item-pro::before {
    grid-column: 2/3;
    grid-row: 1/4;
    padding-top: 47px;
    padding-left: 33px;
    width: 134px;
    height: 100px;
  }
}
@media (min-width: 1440px) {
  .features__item-pro::before {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.features__description {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 0;
  padding: 22px 33px 19px 20px;
}

@media (min-width: 768px) {
  .features__description {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 24px;
    padding-left: 52px;
  }
}
@media (min-width: 1440px) {
  .features__description {
    grid-column: 1/3;
  }
}
.features__description::after {
  content: "";
  display: flex;
  margin-top: 23px;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
}

@media (min-width: 768px) {
  .features__description::after {
    display: none;
  }
}
.features__link {
  grid-column: 1/3;
  grid-row: 3/4;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  color: #000000;
  padding-left: 19px;
}

.features__link:active {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .features__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 27px;
    padding-left: 52px;
  }
}
.features__link-icon {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .features__link-icon {
    margin-left: 25px;
  }
}
.footer {
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer__logo-link {
  padding: 39px;
}

.footer__logo-link-image {
  position: relative;
  display: block;
  color: #111111;
  margin: 0 auto;
}

.footer__logo-link-image:hover {
  opacity: 0.6;
}

.footer__logo-link-image:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .footer__logo-link::after {
    display: none;
  }
}
.footer__contacts--form {
  background-color: #f2f2f2;
}

.footer__contacts--catalog {
  background-color: #f2f2f2;
}

.footer__inner {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .footer__inner {
    width: 1220px;
    margin: 0 auto;
    padding-right: 110px;
    padding-left: 110px;
  }
}
.form-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .form__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  color: #000000;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 69px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    padding-left: 0;
  }
}
.form__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000000;
}

@media (min-width: 768px) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
  }
}
@media (min-width: 1440px) {
  .form__text {
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .form__personal-data {
    width: 570px;
  }
}
.form__personal-data::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
}

@media (min-width: 768px) {
  .form__personal-data::after {
    display: none;
  }
}
.form__program-selection {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .form__program-selection {
    margin-top: 66px;
    margin-left: 71px;
    margin-right: 67px;
  }
}
@media (min-width: 1440px) {
  .form__program-selection {
    width: 570px;
    margin-left: 80px;
  }
}
.form__program-selection::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
}

@media (min-width: 768px) {
  .form__program-selection::after {
    display: none;
  }
}
.form__submit-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 22px;
}

@media (min-width: 768px) {
  .form__submit-wrapper {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin-top: 28px;
    margin-left: 71px;
    margin-right: 69px;
  }
}
@media (min-width: 1440px) {
  .form__submit-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
    margin-bottom: 82px;
    margin-left: 0;
  }
}
.form__button {
  display: grid;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  min-width: 280px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form__button {
    display: inline-block;
    min-width: 282px;
    min-height: 52px;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    min-width: 568px;
    margin-left: 0;
  }
}
.form__button:hover {
  background-color: #5eaa2f;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__submit {
  line-height: 16px;
  text-align: center;
  padding-top: 21px;
  color: #000000;
}

@media (min-width: 768px) {
  .form__submit {
    margin-left: 40px;
  }
}
.header {
  background-color: #ffffff;
  max-width: 1440px;
  min-height: 65px;
  margin: 0 auto;
}

.header__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr min-content;
  position: relative;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .header__wrapper {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1220px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.hero {
  max-width: 1440px;
  height: 302px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  background: #4d4d4d;
  background-image: linear-gradient(to right, rgba(77, 170, 22, 0.85) 25%, rgba(105, 183, 56, 0.85)), url("../img/hero-background.png");
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .hero {
    background: #ffffff;
  }
}
.hero__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .hero__wrapper {
    display: grid;
    margin-left: 87px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper {
    display: grid;
    grid-template-columns: 414px 552px;
    grid-template-rows: repeat(2, min-content);
    margin-left: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 694px;
    top: 0;
    left: 50%;
    background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/hero-background-maxsize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}
.hero__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero__title {
    display: flex;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    text-align: left;
  }
}
.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero__subtitle {
    display: flex;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 41px;
  }
}
@media (min-width: 1440px) {
  .hero__subtitle {
    text-align: left;
    height: max-content;
  }
}
.hero__product {
  display: block;
  margin: 0 auto;
  padding-top: 29px;
}

@media (min-width: 768px) {
  .hero__product {
    order: 4;
    justify-items: end;
  }
}
@media (min-width: 1440px) {
  .hero__product {
    order: 4;
    grid-row: 1/4;
    grid-column: 2/3;
    z-index: 2;
  }
}
.hero__link {
  width: 192px;
  padding: 11px 73px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.hero__link:hover {
  background-color: #5eaa2f;
}

.hero__link:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .hero__link {
    width: 192px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    margin-top: 49px;
  }
}
@media (min-width: 1440px) {
  .hero__link {
    height: max-content;
    margin-top: 52px;
  }
}
.logo--icon {
  padding-left: 20px;
  padding-bottom: 18px;
}

.logo--text {
  margin: 0 auto;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .logo--text {
    padding-left: 12px;
  }
}
.more-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .more-products {
    padding: 39px;
  }
}
@media (min-width: 1440px) {
  .more-products {
    padding: 0;
  }
}
.more-products::before {
  content: "";
  display: flex;
  position: absolute;
  top: -20px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
  width: calc(100% + 40px);
}

.more-products::after {
  content: "";
  display: flex;
  position: absolute;
  top: 200px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
  width: calc(100% + 40px);
}

@media (min-width: 768px) {
  .more-products::before,
.more-products::after {
    display: none;
  }
}
.more-products__title {
  position: relative;
  text-align: center;
  margin-top: 78px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: 768px) {
  .more-products__title {
    margin-top: 80px;
    width: 135px;
  }
}
.more-products__title::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 85px;
  width: 30px;
  height: 30px;
  background-image: url("../img/more-products-plus.svg");
}

@media (min-width: 768px) {
  .more-products__title::before {
    top: -60px;
    left: 55px;
    width: 30px;
    height: 30px;
  }
}
.more-products__subtitle {
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;
}

@media (min-width: 768px) {
  .more-products__subtitle {
    width: 165px;
    text-align: center;
  }
}
.more-products__link {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 21px;
  width: 258px;
  padding: 10px 10px;
}

@media (min-width: 768px) {
  .more-products__link {
    width: 229px;
    margin-top: 20px;
  }
}
@media (min-width: 1440px) {
  .more-products__link {
    width: 149px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.nav-toggle {
  width: 65px;
  height: 65px;
  background: url("../img/logo-mobile-burger.svg") center no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -4px;
  right: 0;
}

.nav-toggle--closed {
  width: 65px;
  height: 65px;
  background: url("../img/logo-mobile-close.svg") center no-repeat;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav {
  background-color: #ffffff;
  grid-row: 2/3;
  grid-column: 1/4;
}

.nav__wrapper {
  position: relative;
}

@media (min-width: 320px) {
  .nav__list {
    position: absolute;
    list-style-type: none;
    background-color: #ffffff;
    min-width: 100%;
  }

  .nav--nojs .nav__list {
    position: relative;
  }
}
@media (max-width: 767px) {
  .nav__list {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .nav__list {
    min-width: 320px;
  }
}
.nav__list--closed {
  display: none;
}

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: static;
  }
}
.nav__list-item {
  text-align: center;
  display: block;
  border-top: 1px solid #e6e6e6;
  padding: 22px 0 24px 0;
}

@media (min-width: 768px) {
  .nav__list-item {
    border-top: none;
    padding: 22px 0 24px 34px;
  }
}
@media (min-width: 1440px) {
  .nav__list-item {
    z-index: 2;
  }
}
.nav__list-link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.nav__list-link:not(.nav__list-link--current):hover {
  opacity: 0.6;
}

.nav__list-link:not(.nav__list-link--current):active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .nav__list-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .nav__list-link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}
.nav__list-link--another-color {
  color: #000000;
}

@media (min-width: 768px) {
  .nav__list-link--current::after {
    display: flex;
    content: "";
    width: inherit;
    height: 2px;
    margin: 0;
    margin-top: 10px;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .nav__list-link--current:not(.nav__list-link--another-strip)::after {
    margin-top: 8px;
    background-color: #ffffff;
  }
}
.nav__list-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
  .nav__list-item:last-child {
    border-bottom: none;
  }
}
/*
.show {
  display: block;
}
*/
.personal-data {
  border-style: none;
  padding: 0;
  padding-top: 39px;
  margin: 0;
  display: grid;
}

@media (min-width: 768px) {
  .personal-data {
    padding-top: 66px;
    display: grid;
  }
}
@media (min-width: 1440px) {
  .personal-data {
    width: 570px;
  }
}
.personal-data__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .personal-data__wrapper {
    padding-left: 71px;
    padding-right: 67px;
  }
}
@media (min-width: 1440px) {
  .personal-data__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}
.personal-data__group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 8px;
}

@media (min-width: 1440px) {
  .personal-data__group:not(:first-child) {
    margin-top: 0;
  }
}
.personal-data__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 13px;
}

.personal-data__description {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  height: 45px;
}

.personal-data__description:hover {
  border: 1px solid #cdcdcd;
}

.personal-data__description:focus {
  border: 2px solid #444444;
}

.personal-data__description::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  padding-left: 20px;
  line-height: 18px;
  text-transform: uppercase;
}

.personal-data__email-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 1440px) {
  .personal-data__email-wrapper {
    width: 570px;
  }
}
.personal-data__phone-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 1440px) {
  .personal-data__phone-wrapper {
    margin-left: 78px;
    width: 570px;
  }
}
/*
.form__personal-contacts {
  position: relative;
  width: 100%;
}

.form__personal-contacts::before {
  content: "";
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: -1;
  height: 2px;
  background-color: #68b738;
}
*/
.personal-data__contacts-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  padding-left: 20px;
  display: inline-block;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .personal-data__contacts-title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 75px;
    padding-left: 69px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .personal-data__contacts-title {
    padding-left: 0;
    width: max-content;
    max-width: 1220px;
  }
}
@media (min-width: 1440px) {
  .personal-data__contacts--wrapper {
    flex-direction: row;
  }
}
.personal-data__contacts-name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 27px;
  margin-right: 13px;
}

.personal-data__contacts-wrapper {
  outline: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.personal-data__contacts-wrapper:hover {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.personal-data__contacts-wrapper:focus {
  border: 2px solid #444444;
}

.personal-data__contacts-description {
  flex-grow: 1;
  height: 38px;
  border: none;
  position: relative;
  padding-top: 6px;
}

.personal-data__contacts-description::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 19px;
}

.personal-data__contacts-email-img {
  padding-right: 15px;
  opacity: 0.6;
}

.personal-data__contacts-phone-img {
  padding-right: 15px;
  opacity: 0.6;
}

.product {
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

.product__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .product__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .product__wrapper {
    padding-left: 110px;
    padding-right: 110px;
    min-height: 640px;
  }
}
.product__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 42px;
}

@media (min-width: 768px) {
  .product__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .product__title {
    margin-top: 60px;
    margin-bottom: 0;
  }
}
.product__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 49px;
  list-style-type: none;
}

@media (min-width: 768px) {
  .product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 179px;
    grid-row-gap: 80px;
    counter-reset: index;
  }
}
@media (min-width: 1440px) {
  .product__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    align-items: start;
    padding-bottom: 0;
  }
}
.product__item {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .product__item {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .product__item {
    margin-top: 72px;
  }
}
@media (min-width: 768px) {
  .product__item::after {
    position: absolute;
    width: 136px;
    font-family: "Oswald", sans-serif;
    font-size: 260px;
    font-weight: 400;
    color: #f2f2f2;
    top: 92px;
    left: 118px;
    counter-increment: index;
    content: counters(index, ".", decimal) " ";
  }
}
.product__item:not(:last-child) {
  margin-bottom: 26px;
}

.product__item--nutrients::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/nutrients.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product__item--powder::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/powder.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product__item--functional-nutrition::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/functional-nutrition.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product__item--changes-better::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/changes-better.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .product__description {
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
  }
}
.products-card {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 34%) 35%;
  padding-bottom: 44px;
  margin: 0 auto;
  width: auto;
}

.products-card:not(:first-child)::before {
  content: "";
  display: flex;
  position: absolute;
  top: -20px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
  width: calc(100% + 40px);
}

@media (min-width: 768px) {
  .products-card:not(:first-child)::before {
    display: none;
  }
}
.products-card:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .products-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    position: relative;
    width: 248px;
    padding: 39px;
    margin-top: 141px;
  }
}
@media (min-width: 1440px) {
  .products-card {
    width: 245px;
    box-sizing: border-box;
  }
}
/*смещение картинки вверх*/
@media (min-width: 768px) {
  .products-card__image {
    position: relative;
  }
}
/*смещение картинки вверх*/
@media (min-width: 1440px) {
  .products-card__image {
    position: relative;
  }
}
.products-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding-right: 64px;
}

@media (min-width: 768px) {
  .products-card__title {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (min-width: 1440px) {
  .products-card__title {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.products-card__link--picture {
  grid-row: 1/3;
  width: 84px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .products-card__link--picture {
    margin: auto;
  }
}
.products-card__link--title {
  grid-row: 1/2;
}

.products-card__link--button {
  position: relative;
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 280px;
  padding: 10px 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 22px;
}

@media (min-width: 768px) {
  .products-card__link--button {
    width: 248px;
    padding: 10px 10px;
  }
}
@media (min-width: 1440px) {
  .products-card__link--button {
    width: 148px;
    padding: 10px 10px;
  }
}
.products {
  background-color: #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .products {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .products {
    padding-right: 110px;
    padding-left: 110px;
  }
}
.products__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  color: #000000;
}

@media (min-width: 768px) {
  .products__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.products__title::after {
  content: "";
  display: flex;
  position: absolute;
  top: 100px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
  width: calc(100% + 20px);
}

@media (min-width: 768px) {
  .products__title::after {
    display: none;
  }
}
.products__list {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}
@media (min-width: 768px) {
  .products__item {
    margin-top: 141px;
    border: 2px solid #f2f2f2;
    width: 324px;
  }
}
@media (min-width: 768px) {
  .products__item {
    width: 245px;
  }
}
.program-selection {
  border-style: none;
  padding: 0;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .program-selection {
    border: 1px solid #e7e7e7;
  }
}
.program-selection__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.program-selection__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.program-selection__item {
  margin-top: 24px;
}

.program-selection__control {
  position: relative;
  display: block;
  padding-left: 45px;
}

@media (min-width: 768px) {
  .program-selection__control {
    padding-left: 60px;
  }
}
.program-selection__mark-radio {
  position: absolute;
  top: -7px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .program-selection__mark-radio {
    left: 8px;
  }
}
.program-selection__control:hover .program-selection__mark-radio {
  border-color: #bababa;
}

.program-selection__control:disabled + .program-selection__mark-radio {
  opacity: 0.3;
}

.program-selection__input[type=radio] + .program-selection__mark-radio {
  border-radius: 50%;
}

.program-selection__input[type=radio]:checked + .program-selection__mark-radio::before {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.program-selection__control-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
}

.social {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  color: #666666;
  padding: 15px;
}

.social__link-vkontakte:hover,
.social__link-youtube:hover,
.social__link-telegram:hover {
  color: #68b738;
}

.social__link-vkontakte:active,
.social__link-youtube:active,
.social__link-telegram:active {
  opacity: 0.3;
  color: #68b738;
}

.social::before {
  content: "";
  position: absolute;
  top: -25px;
  display: flex;
  margin: 0 auto;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
}

.social::after {
  content: "";
  position: absolute;
  top: 45px;
  display: flex;
  margin: 0 auto;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
}

@media (min-width: 768px) {
  .social::before,
.social::after {
    display: none;
  }
}
.specifications {
  grid-row: 2/3;
}

.specifications__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .specifications__title {
    width: 300px;
  }
}
.specifications__list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .specifications__list-wrapper {
    width: 248px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .specifications__list-wrapper {
    width: 148px;
  }
}
@media (min-width: 768px) {
  .specifications__list-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
  }
}
.specifications__list--additional-products {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .specifications__list--additional-products {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .specifications__list--additional-products {
    width: 285px;
  }
}
.specifications__link {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .specifications__link {
    width: 100%;
    grid-column: 1/3;
  }
}
@media (min-width: 1440px) {
  .specifications__link {
    width: 244px;
    margin: 0;
    margin-left: 40px;
  }
}
.specifications__link::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  height: 1px;
  background-color: #d9d9d9;
  width: 100%;
}

@media (min-width: 768px) {
  .specifications__link::after {
    display: none;
  }
}
.specifications__name,
.specifications__description {
  display: inline;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.specifications__description {
  text-align: end;
}

@media (min-width: 768px) {
  .specifications__name,
.specifications__description {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */